.menu__title{
  background-color:$color-bg2;
  font-weight: bold;
  color: $color-text1;
  margin: 0.5rem 2rem;
  padding: 0.4rem 1rem;
  display: block;
  font-size: 1.5rem;
  border-top: 0.3rem solid $color-bg1;
  border-radius: 2rem;
  text-align: center; 
  &:hover{
    border-color: $color-bg4;
  }
}

.content{
  margin: 1rem;
}

.menu__list{
  text-align: center;
  
  li {
    border: 0.3rem solid $color-border2;
    border-radius: 2rem;
    width: 40%;
    padding: 0.1rem;
    margin: 0.3rem auto;
    
    a { 
      color: $color-bg2;
      text-decoration: none;
      font-size: 1.2rem;
    } 

    &:last-child{
      margin-bottom: 0.5rem;
    }
    
    &:hover{
      border-color: $color-bg4;
    }
  }
}