.menu {
  display: block;
  flex-wrap: nowrap;
}

.menu__panel{
width: 100%;
}

.menu__title {
  background-color:$color-bg1;
  font-weight: bold;
  color: $color-text1;
  margin: 1rem 1rem 0rem 1rem;
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
  border-top: 0.3rem solid $color-bg2;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  text-align: center; 
  transition: 0.3s;
  box-shadow: 0 -0.3rem; 

  &:hover{
    border-color: $color-white;
  }
}

.content {
  margin: 1rem;
}

.menu__list {
  text-align: center;
  margin: 0rem 1rem 1rem 1rem;
  border:0.3rem solid $color-bg1;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  list-style: none;

  li {
    border: 0.3rem solid $color-sunglow;
    border-radius: 2rem;
    width: 80%;
    padding: 0.1rem;
    margin: 0.3rem auto;
    
  
    a {
      color: $color-white;
      text-decoration: none;
      font-size: 1.2rem;     
      padding: 0rem 0.5rem;
    }  
  } 

  a:hover{
      transition: 0.5s;
      color: $color-fiord;
  }
}
