doctype html
html
  block config
  head
    title=title
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/style.css")

  body
    include ../_component/welcome/welcome
    block content
    include ../_component/nav/nav
    include ../_component/footer/footer