.welcome {
  background-image: radial-gradient($color-bg2, $color-bg1);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height:100%;

  .title {
    color:$color-title;
    font-size: 4rem;
    padding: 1rem 0.5rem 3rem;
    margin: 0rem auto;
    border-left:0.1rem solid $color-white;
    border-bottom:0.6rem solid $color-white;
    border-right:0.5rem solid $color-white;
    border-radius: 50%;
    box-shadow: 0.2rem 0.4rem;
    width: 80%;
  }

  .welcome__description {
    margin: 0rem auto;
    padding: 0.5rem 1.5rem;
    color: $color-white;
    border-radius: 2rem;
    font-size: 1.5rem;
    line-height: 1.6rem;
    border-color: $color-white;
    width: 90%;
  }
  
  .scroll-down {
    text-decoration: none;
    border: 0.3rem solid $color-white;
    padding: 0.4rem;
    margin: 2rem;
    border-radius: 2rem;
    background-color: $color-bg2;
    color: $color-white;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0.0rem 0px,
               -0.0rem 0px;
  
    .qblog-icon--chevron-down {
      margin: 0 0.1rem 0 0.5rem;
    }
          
    &:hover {
      border-color: $color-sunglow;
      box-shadow: 0.5rem 0px,
                 -0.5rem 0px;
    }
  }
}

ol {
  padding: 1rem 2rem;
}

li, ul, p {
  padding-bottom: 0.5rem;
  line-height: 1.5;
  color: $color-fiord;
}




h3 {
  padding: 1rem;
}

.content {
  padding: 1.5rem;
  
  a {
    text-decoration: none;
    color: $color-white;
  }

  h2 {
      color:$color-bg1;
      font-weight: bold;
      padding: 1.5;
      line-height: 3rem;
      text-justify: center;
      margin-bottom: 0.5rem;
  }

  blockquote {
    margin: 1rem;
    padding: 0.2rem;
    border-left: 0.3rem solid $color-fiord;
  }

  .blockquote-footer {
    margin: 0.5rem 0;
  }

  .top {
    text-align: right;
    display: block;
    margin: 1rem;
  }

  .image-container{
    width: 80%;
    padding: 1rem;
    margin: 0 auto;

    .image {
      width: 100%;
      border: 0.3rem solid $color-fiord;
      border-radius: 2rem;
    }

    .image-caption {
      color: $color-fiord;
      text-align: center;
    }  
  }
}