doctype html
html
  block config
  head
    title=title
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="style.css")

  body
    include ../welcome/welcome
    block content
    include ../nav/nav
    include ../footer/footer