html,
body {
  height:100%;
  font-family: 'Encode Sans Expanded', sans-serif;
  box-sizing: border-box;
}

@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

.welcome { 
  box-sizing: border-box;
  background-image: radial-gradient($color-bg1, $color-bg1);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid $color-border2;
  height: 100%;
   
  .title {
    color:$color-title;
    font-size: 3.4rem;
  }
  
  .welcome__description{
    line-height: 1.3rem;
    padding: 0.7rem 1rem;
    background-color: $color-bg2;
    border-top: 0.4rem solid $color-border2;
    border-bottom: 0.4rem solid $color-border1;
    color: $color-text1;
    width: 70%;
    border-radius: 1rem;

    &:hover{
      border-color: $color-border2;
    }
 }
  .qblog-icon--chevron-down {
    margin: 0 0.1rem 0 0.5rem;
    color: $color-text1;
  }

  .scroll-down {
    text-decoration: none;
    border-top: 0.4rem solid $color-border1;
    border-bottom: 0.4rem solid $color-border1;
    padding: 0.7rem;
    margin: 0rem;
    border-radius: 1rem;
    background-color: $color-bg1;
    color: $color-text1;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
         
    &:hover {
      border-color: $color-border2;
    }
  }
}
