
html,
body {
  height:100%;
  font-family: 'Encode Sans Expanded', sans-serif;
}

@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

.welcome { 
  height:100%;
  background-image: radial-gradient($color-bg1, $color-bg1);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid $color-border1;
 
  .title {
    color:$color-title;
    font-size: 3.2rem;
    padding: 0.5rem;
  }
  
  .welcome__description{
    line-height: 1.5;
    padding: 0.5rem 2rem;
    background-color: $color-bg2;
    border-top: 0.4rem solid $color-border1;
    border-bottom: 0.4rem solid $color-border1;
    color: $color-text1;
    width: 70%;
    border-radius: 1rem;
    &:hover{
      border-color: $color-border2;
    }
 }

  .scroll-down {
    text-decoration: none;
    border-top: 0.3rem solid $color-border1;
    border-bottom: 0.3rem solid $color-border1;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: $color-bg1;
    color: $color-text1;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
  
    .continue-arrow {
      margin: 0.1rem 0.5rem;
      padding: auto;

      &:after{
        content: "";
        position: absolute;
        border-top: 0.5rem solid $color-border2;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
      }
   }

    &:hover {
      border-color: $color-border2;
    }
  }
}
