@import '_component/layout/landing';
@import '_component/footer/footer';
@import '_component/nav/nav';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-display: swap;
  font-size: calc(12px + (24 - 12)*((100vmin - 400px)/(800 - 400)));
  scroll-behavior: smooth;
}

.welcome { grid-area: welcome; }
.content { grid-area: content; }
.menu { grid-area: menu; }
.footer { grid-area: footer; }

body {
  display: grid;
  background-color: $color-sunglow;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto 5rem;
  grid-template-areas:
  'welcome'
  'content'
  'menu'
  'footer'
}

@media (min-width: 768px) {
  body
  {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto 5rem;
    grid-template-areas:
    'welcome'
    'content'
    'menu'
    'footer'
  }
}

@media (min-width: 1280px) {
  body
  {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100vh auto auto 5rem;
    grid-template-areas:
    'welcome welcome'
    'content menu'
    'content menu'
    'footer footer'
  }
}