.footer
  .copyright 
    a(href="https://quintyhh.github.io/my-resume/") &copy; 2017 - #{new Date().getFullYear()} #{data.site.company}
  .footer_list
    ul
      li
        a(href="/privacy") Privacy
      li
        a(href="/terms") Terms