.footer {
  background-color:$color-bg1;
  padding: 0.5rem 0;
  font-size: 1rem;
  display: flex;
  height: 5rem;

  .copyright {
    flex-grow: 1;
    margin-left: 2rem;
    text-align: left;
    font-weight: bold;
    color: $color-sunglow;  
  }

  .footer_list{
    flex-grow: 1;
    color: $color-sunglow;
    text-align: left;
    
    ul {
      list-style: none;
    }
    &:hover {
      border-color: $color-white;
    }
  }
}

  a {
    font-size: 1rem;
    text-decoration: none;
    color:$color-sunglow;
    transition: 0.5s;
    &:hover {
      color: $color-white;
    }
  }
