.footer
  .copyright 
    a(href="https://quintyhh.github.io/my-resume/") &copy; 2019 Razvan Mocanu
  .footer_list
    ul
      li
        a(href="/privacy") Privacy
      li
        a(href="/policy") Policy