.footer {
  background-color:$color-bg2;
  padding: 1rem 0rem;
  display: flex;
  font-size: 1rem;

  .footer_list{
    flex-grow: 2;
    color: $color-bg2;
    border-left: 0.3rem solid $color-bg1;
    padding: 0.5rem 0rem 0.5rem 2rem;
    margin-left: 2rem;
    list-style-type: none;
    border-radius: 1rem;
    &:hover {
      border-color: $color-sunglow;
    }
  }

  a {
    text-decoration: none;
    color:$color-text1;
  }
  
  a:hover {
    color: $color-bg4;
  }
  
  .copyright {
    flex-grow: 1;
    padding: 1rem;
    margin-right: 2rem;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    color: $color-white;
    border-right: 0.3rem solid $color-bg1;
    border-radius: 1rem;
    
    &:hover {
      border-color: $color-sunglow;
    }
  } 
}





